@import "variables.less";

/*
 * Common elements
 */

div.ec-link-logo-container {
  padding: @grid*2 0 @grid*3 0;
}

div.ec-link-logo {
  text-align: center;

  .stroke-orange-solid-top-left-to-right {
    background-image: inlineimage("images/orange_arrow_right.svg");
    background-repeat: no-repeat;
    width: 108px;
    height: 32px;
    display: inline-block;
    margin-left: 5px;
  }

  .stroke-orange-dashed-bottom-right-to-left {
    background-image: inlineimage("images/Arrow_dotted_left.svg");
    background-repeat: no-repeat;
    width: 108px;
    height: 31px;
    display: inline-block;
    margin-top: 5px;
  }

  .stroke-orange-solid-bottom-right-to-left {
    background-image: inlineimage("images/orange_arrow_solid_bottom_left.svg");
    background-repeat: no-repeat;
    width: 108px;
    height: 31px;
    display: inline-block;
    margin-top: 5px;
  }

  .stroke-grey-dashed-bottom-right-to-left-with-warning-sign {
    background-image: inlineimage("images/grey_arrow_with_warning.svg");
    background-repeat: no-repeat;
    width: 108px;
    height: 40px;
    display: inline-block;
    margin-top: 5px;
  }

  .stroke-grey-dashed-red-mark-bottom-right-to-left {
    background-image: inlineimage("images/grey_arrow_with_red_mark.svg");
    background-repeat: no-repeat;
    width: 108px;
    height: 42px;
    display: inline-block;
    margin-top: 5px;
  }

  .jira-bb-logos-section {
    margin: 0;

    .jira-logo-bigger {
      background-image: inlineimage("images/jira_logo.svg");
      background-repeat: no-repeat;
      width: 54px;
      height: 64px;
      float: right;
      margin-right: 42px
    }

    .bitbucket-logo-bigger {
      background-image: inlineimage("images/bitbucket_logo.svg");
      background-repeat: no-repeat;
      width: 56px;
      height: 65px;
      text-align: left;
      margin-left: 20px;
    }
  }
}

div.scopes {
  margin: 12px 0 0 24px;

  .scopeItem {
    padding: 0 0 10px 0;

    .scope-icon {
      width: 15px;

      .icon-issues {
        background-image: inlineimage("images/issue.svg");
      }
    }

    .scope-text {
      text-align: left;
      padding-left: 12px;
    }
  }
}

div.non-admin-approval {

  div.description-text {
    text-align: center;
    padding-bottom: 20px;
  }

  div.help-link {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 45px;
  }
}

div.approval-error {
  div.error-text {
    text-align: center;
    padding-bottom: 48px;
  }
}

div.unknown-error {
  .error-text {
    text-align: center;
    padding-bottom: 48px;
  }
}

/*
 * Specific changes for the focused page screens
 */
.aui-page-panel {

  div.ec-link-logo-container {
    padding: @grid*4 0 39px 0;
    height: 140px;
  }

  .non-admin-approval .ec-link-logo-container {
    padding: @grid*4 0 36px 0;
    height: 140px;
  }

  div.ec-scopes-container {
    padding-bottom: 38px;
  }
}

/*
 * Specific changes for the modal dialog screens
 */
.aui-dialog2 {

  div.ec-link-logo-container {
    padding: @grid*6 0 33px 0;
    height: 140px;
  }

  .dialog-content {
    text-align: center;
  }

  #message-postscript {
    padding-bottom: @grid*6;
  }

  .dialog-form {
    padding-top: @grid*1;
    padding-bottom: @grid*1.5;
    padding-left: 137px;

    div.checkbox {
      padding-left: 0;

      input {
        margin-left: 0;
        margin-right: 0;
      }

      label {
        margin-left: @grid;
      }
    }
  }

  footer {
    .aui-icon-wait {
      padding-right: @grid;
    }
  }
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-vertical-spacing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
